/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/

/* Adding 3 different fonts */
@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}

@font-face {
  font-family: 'berthold_akzidenz_groteskBdex';
  src: url('../fonts/berthold_akzidenz_grotesk_be_bold_extended-webfont.woff2') format('woff2'),
       url('../fonts/berthold_akzidenz_grotesk_be_bold_extended-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'callunasemibold';
  src: url('../fonts/calluna-semibold-webfont.woff2') format('woff2'),
       url('../fonts/calluna-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Site wide CSS reset */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

/* Set max width and center the container in center */
.standard-max-width-center-elements {
  max-width: 960px;
  margin: 0 auto !important;
  float: none !important;
}


#logo {
  font-family: 'berthold_akzidenz_groteskBdex';
  color: #ffffff;
  font-size: 1.25em;
  text-decoration: none;
}

/* Outer side of nav */
header {
  max-width: 100% !important;
  background-color: #000000;
  flex-wrap: wrap;
}

/* Nav content container. Using flexbox to align items left middle and right on nav */
nav {
  max-width: 1080px;
  margin: 0 auto 0 auto !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: flex;
  height: 64px;
  background: #920d0d;
}

.header-far-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-far-left a {
  margin-right: 3em;
}

.header-middle {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-far-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-far-right a {
  margin-left: 3em;
}

/* For 3 different page's background header */
.featured-header-container-about {
  background: url("../img/featured-img-1.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  padding-bottom: 6rem;
  position: relative;
}

.featured-header-container-shop {
  background: url("../img/featured-img-leica.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  padding-bottom: 6rem;
  position: relative;
}

.featured-header-container-home {
  background: url("../img/featured-img-polaroid.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  padding-bottom: 6rem;
  position: relative;
}

.featured-header-content {
  max-width: 340px;

  /* Vertical center */
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Nav text style */
.nav-text {
  font-family: 'Inter';
  font-size: 1em;
  font-weight: 300 !important;
  line-height: 2em;
  color: #ffffff !important;
  opacity: 0.5;
  text-decoration: none;
}

.sub-nav-text {
  font-family: 'Inter';
  font-size: 1em;
  font-weight: 500 !important;
  margin-right: 3rem;
  line-height: 2em;
  color: #242424 !important;
  text-decoration: none;
}

.sub-nav-text:hover {
  color: #38A6ED !important;
  opacity: 1 !important;
  text-decoration: none;
}

.sub-header-container {
  max-width: 1080px;
  margin: 0 auto !important;
  padding-bottom: 1.5rem;
}

.sub-header {
  padding-bottom: 0.5rem;
}

/* This class is the standard for containers that sex a max width and center align the block in the page  */
.standard-container {
  max-width: 1080px;
  margin: 0 auto !important;
  padding-top: 5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.event-container {
  display: flex;
  max-width: 1080px;
  margin: 0 auto !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
}



.nav-text:hover {
  color: #38A6ED !important;
  opacity: 1 !important;
  text-decoration: none;
}

.nav-current{
  color: #ffffff !important;
  opacity: 1 !important;
}

/* Link color */
.product-listing-link {
  color: #000000;
  text-decoration: none;
}

a:link {
  color: #38A6ED;
  font-weight: 500;
  font-family: 'Inter';
  font-size: 1em;
}

/* Hover state change link color */
a:hover {
  color: #38A6ED !important;
}

a:visited {
  text-decoration: none;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}


/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: #005B8E;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2s;
}

.button-nav:hover, .button-nav:focus {
  background-color: rgb(200,200,200);
}

/* Styling for the button */
button {
  display: inline-block;
  padding: 0.70rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 4px;
  border: none;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1em;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2s;
  max-width: 380px;
}
/* Styling for the button */
.primary-action-button {
  color: white;
  background-color: #38A6ED;
}

.default-button {
  color: #000000;
  background-color: #DADADA;
}

.submit-button {
  display: block;
  width: 100%;
  color: white;
  background-color: #38A6ED;
}

button:hover, button:focus {
  background-color: rgb(200,200,200);
}


/*
  TEXT ELEMENTS -------------------
*/

h1 {
  font-family: 'callunasemibold';
  font-size: 2.5em;
  padding-bottom: 1.25rem;
}

h2 {
  font-family: 'callunasemibold';
  font-size: 2em;
  font-weight: 500;
  padding-bottom: 1rem;
}

h3 {
  font-family: 'Inter';
  font-size: 1.5em;
  font-weight: 300;
  padding-bottom: 1rem;
}

h4 {
  font-family: 'Inter';
  font-size: 0.875em;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding-bottom: 3em;
}

p {
  font-family: 'Inter';
  font-size: 1em;
  font-weight: 300;
  max-width: 640px;
  line-height: 140%;
  padding-bottom: 1rem;
}

li {
  font-family: 'Inter';
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 0.75rem;
}

ol, ul {
  padding-left: 1.25rem;
}

.container-header {
  padding: 1rem 1.5rem 1rem 1.5rem;
}


/*
  COMBINED ELEMENTS -------------------
*/
label {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1em;
  color: #000000;
}

/* Style text field with thicker border and wider width */
input {
  font-family: 'Inter';
  font-size: 1em;
  font-weight: 300;
  display: block;
  border-radius: 4px;
  border: 1px solid #bbb;
  margin: 0.5rem 0rem 1.5rem 0rem;
  padding: 12px;
}

/* Style text field hover state */
input:hover {
  border: 1px solid #38A6ED;
  /* Inner shadow */
  -moz-box-shadow:    inset 0 0 5px #005B8E;
  -webkit-box-shadow: inset 0 0 5px #005B8E;
   box-shadow:         inset 0 0 5px #005B8E;
}

/* Style text field focus state */
input:active {
  border: 2px solid #f73a00;
}

.outer-element {
  margin-bottom: 3.5rem;
  background: #FFFFFF;
  border-radius: 4px;
}

.inner-element-padding {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-bottom: 2rem;
  padding-top: 2.5rem;
  border-bottom-width: 0.05rem;
  border-bottom-style: solid;
  border-bottom-color:#DCDCDC;
}

.element {
  padding-bottom: 3.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.image-link {
  max-width: 320px;
  transition-property: border-color;
  transition-duration: 0.2s;
}

.image-link-container {
  position: relative;
  display: inline-block;
}

.small-icon-container {
  /* center the dark overlay div on top right of image */
  position: absolute;
  left: 89%;
  top: 10%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 28px;
  background: rgba(0, 0, 0, 0.36);
  border-radius: 26px;
  transition-property: background-color;
  transition-duration: 0.2s;
}

.small-icon-white {
  /* center the icon in the middle of its container (the dark overlay) */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* When image-link-container is hovered change bg color of image-link-container */
.image-link-container:hover > .small-icon-container {
  background: #38A6ED;
}

.image-link:hover{
  border: 3px;
  border-style: solid;
  border-color: #38A6ED;
}

/* Using flex box to display divs within spread out equally inline */
.wrapper {
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.event-img {
  max-width: 100%;
  max-height: 100%;
}

.event-img-container {
  max-width: 220px;
  padding-right: 2rem;
}

.product-img {
  max-width: 100%;
  max-height: 100%;
  padding: 2rem;
}

.product-title {
  padding-bottom: 0.375rem;
  transition-property: color;
  transition-duration: 0.2s;
}

.product-container {
  margin-bottom: 2rem;
  text-align: center;
  width: 308px;
  height: 346px;
  border: 0.5px;
  border-style: solid;
  border-color:  rgba(0, 0, 0, 0.20);
  border-radius: 6px;
  transition-property: box-shadow;
  transition-duration: 0.2s;
}

.product-image-container {
  height: 250px;
  margin: 0;
}

.product-detail-image-container {
  height: 320px;
  margin: 0;
}

.product-detail-img {
  max-width: 100%;
  max-height: 100%;
  padding-right: 3em;
}

.product-description {
  max-width: 400px;
}

.product-container:hover {
  border-color:  rgba(0, 0, 0, 0.20);
  /* Tecnhique to achieve super smooth shadows,
  - the more layers that represent from weaker to stronger opacity to more smoother it will be
  - each layer of shadow also start from small to bigger in size
   */
  box-shadow: 0px 0.75px 1px rgba(0, 0, 0, 0.03),
              0px 1.8px 3.6px rgba(0, 0, 0, 0.04),
              0px 3.4px 8px rgba(0, 0, 0, 0.05),
              0px 6px 16.6px rgba(0, 0, 0, 0.06),
              0px 11.3px 31.5px rgba(0, 0, 0, 0.07),
              0px 27px 69px rgba(0, 0, 0, 0.1);
}

.product-container:hover > .product-title {
  color: #38A6ED;
}

.checkout-container {
  max-width: 410px;
  border: 0.5px;
  border-style: solid;
  border-color:  rgba(0, 0, 0, 0.30);
  border-radius: 6px;
  background-color: #ffffff;
  margin: auto;
}

.product-listing-compact {
  height: 100px;
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
}

.product-img-compact {
  max-width: 100px;
  max-height: 100px;
  padding: 0.25rem;
  float: left;

  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.product-img-compact-container {
  max-width: 100px;
  max-height: 100px;
}

.name-color-container {
  padding-left: 1rem;
  max-width: 316px;
  float: left;

  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.checkout-pricing-text {
  position: relative;
  float: right;
  padding-top: 0.75rem;
  font-size: 1em;
  color: #38A6ED;
  font-weight: 500;
}

.sub-body-text {
  float: left;
  padding-top: 0.125em;
  font-size: 1em;
  color :rgba(0, 0, 0, 0.50);
}

.sub-checkout-pricing-text {
  position: relative;
  padding-top: 2px;
  float: right;
  font-size: 1em;
  color: #38A6ED;
  font-weight: 500;
}

.extra-charges-container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

.charges-container {
  height: 2rem;
  padding-bottom: 1rem;
}

.footer {
  left: 0;
  bottom: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 6rem;
  width: 100%;
  background-color: #EDEDED;
  text-align: center;
}

.footer-text {
  font-family: 'Inter';
  font-size: 1em;
  font-weight: 500 !important;
  line-height: 2em;
  color: rgba(0, 0, 0, 0.5) !important;
  text-decoration: none;
  padding-left: 2em;
  padding-right: 2em;
}

/*
  SYSTEM LEVEL RULES -------------------
*/
.width-constraint {
  max-width: 920px;
	margin: 0 auto !important;
	float: none !important;
}

/* This class centers the content of it's container */
.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.divider {
  border: 0.5px solid #bbb;
  margin-bottom: 1.5rem;
}

/*
  Common Reusable Commands -------------------
*/

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.display-block-full-width {
  display: block;
  width: 100%;
}

.display-inline-full-width {
  display: inline;
  width: 100%;
}


/*
  Colors -------------------
*/
.black {
  color: #000000;
}

.light-grey {
  color: #EDEDED;
}

.light-grey-background {
  background-color: #EDEDED;
}

.dark-grey {
  color: rgba(0, 0, 0, 0.53);
}

.light-blue {
  color: #38A6ED;
}


/*
  Text class -------------------
*/

.body-description-font {
  font-size: 0.9375em;
  max-width: 400px;
  padding-bottom: 1.5em;
}

.mid-text-padding {
  padding-bottom: 1em;
}



/*
Louis classes
*/
.cart-box-wrapper{
  text-align: center;
  background-color: white;
  margin-left: 30%;
  margin-right: 30%;
}
.cart-box{
  display: inline-block;
}
.home-wrapper{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-content: flex-end;
}

.home-featured-box{

  border-style: solid;
}

.img3{
  max-width: 100%;
  flex-grow: 2;
}


.column {
  padding-bottom: 20px;
}

.flex-grid {
  display: flex;
}

.flex-grid .column {
  flex: 1;
}

.flex-grid-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-grid-two .column {
  width: 49%;
}

/*
  Responsive Rules -------------------
*/

@media (max-width: 640px) {
  .flex-grid {
    display: block;
  }

  .flex-grid-two {
    display: block;
  }

  .flex-grid-two .column {
    width: 100%;
  }

  .product-description {
    max-width: 100%;
  }

  .body-description-font {
    max-width: 100%;
  }

}
